[include mcu/MTLF_MMB_1.0.cfg]

[mcu MTLF_1]
canbus_uuid: 9d34eb022fc0
#serial: <replace with your /dev/serial/by-id/...> and comment out canbus_uuid above

[AFC_BoxTurtle MTLF_1]
hub: MTLF_1
extruder: extruder
enable_assist: True        # Setting to True enables espooler assist while printing
enable_kick_start: True    # Setting to True enables full speed espoolers for kick_start_time(0.070 ms default) amount
# buffer: TN                 # If not defined below from the install script, uncomment and add buffer name if using a buffer

[AFC_stepper lane1]
unit: MTLF_1:1
step_pin: MTLF_1:M1_STEP
dir_pin: MTLF_1:M1_DIR
enable_pin: !MTLF_1:M1_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 1135.0 
park_dist: 10
led_index: AFC_Indicator:1
# afc_motor_rwd: MTLF_1:MOT1_RWD
# afc_motor_fwd: MTLF_1:MOT1_FWD
# afc_motor_enb: MTLF_1:MOT1_EN
# rwd_speed_multiplier: 0.5
# fwd_speed_multiplier: 0.5
# pwm: True
# hardware_pwm: True
prep: ^MTLF_1:TRG1
load: ^MTLF_1:EXT1

[tmc2209 AFC_stepper lane1]
uart_pin: MTLF_1:M1_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper lane2]
unit: MTLF_1:2
step_pin: MTLF_1:M2_STEP
dir_pin: MTLF_1:M2_DIR
enable_pin: !MTLF_1:M2_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 1115.0 
park_dist: 10
led_index: AFC_Indicator:2
# afc_motor_rwd: MTLF_1:MOT2_RWD
# afc_motor_fwd: MTLF_1:MOT2_FWD
# afc_motor_enb: MTLF_1:MOT2_EN
# rwd_speed_multiplier: 0.5
# fwd_speed_multiplier: 0.5
# pwm: True
# hardware_pwm: True
prep: ^MTLF_1:TRG2
load: ^MTLF_1:EXT2

[tmc2209 AFC_stepper lane2]
uart_pin: MTLF_1:M2_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper lane3]
unit: MTLF_1:3
step_pin: MTLF_1:M3_STEP
dir_pin: MTLF_1:M3_DIR
enable_pin: !MTLF_1:M3_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 1130.0 
park_dist: 10
led_index: AFC_Indicator:3
# afc_motor_rwd: MTLF_1:MOT3_RWD
# afc_motor_fwd: MTLF_1:MOT3_FWD
# afc_motor_enb: MTLF_1:MOT3_EN
# rwd_speed_multiplier: 0.5
# fwd_speed_multiplier: 0.5
# pwm: True
# hardware_pwm: True
prep: ^MTLF_1:TRG3
load: ^MTLF_1:EXT3

[tmc2209 AFC_stepper lane3]
uart_pin: MTLF_1:M3_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper lane4]
unit: MTLF_1:4
step_pin: MTLF_1:M4_STEP
dir_pin: MTLF_1:M4_DIR
enable_pin: !MTLF_1:M4_EN
microsteps: 16
rotation_distance: 4.65
dist_hub: 1135.0 
park_dist: 10
led_index: AFC_Indicator:4
# afc_motor_rwd: MTLF_1:MOT4_RWD
# afc_motor_fwd: MTLF_1:MOT4_FWD
# afc_motor_enb: MTLF_1:MOT4_EN
# rwd_speed_multiplier: 0.5
# fwd_speed_multiplier: 0.5
# pwm: True
# hardware_pwm: True
prep: ^MTLF_1:TRG4
load: ^MTLF_1:EXT4

[tmc2209 AFC_stepper lane4]
uart_pin: MTLF_1:M4_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_hub MTLF_1]
# switch_pin: ^et0:gpio22      # Pin for the hub switch
switch_pin: HUB             # PG12 on Octopus
afc_bowden_length: 110.0    # Length of the Bowden tube from the hub to the toolhead sensor in mm.
move_dis: 50                # Distance to move the filament within the hub in mm.
#hub_clear_move_dis: 50     # Distance after hub switch becomes fast to retract to insure hub is clear
cut: False                  # Hub cutter installed (e.g. Snappy)

#--=================================================================================--#
######### Hub Cut #####################################################################
#--=================================================================================--#
assisted_retract: False     # If True, retracts are assisted to prevent loose windows on the spool
cut_cmd: AFC #CMD to use
cut_dist: 50                # How much filament to cut off (in mm).
cut_clear: 120              # How far the filament should retract back from the hub (in mm).
cut_min_length: 300.0
cut_servo_pass_angle: 10    # Servo angle to align the Bowden tube with the hole for loading the toolhead.
cut_servo_clip_angle: 180   # Servo angle for cutting the filament.
cut_servo_prep_angle: 80    # Servo angle to prepare the filament for cutting (aligning the exit hole).

#[AFC_screen MTLF_1]
#mac_address: None

# [temperature_sensor MTLF_1]
# sensor_type: temperature_mcu
# sensor_mcu: MTLF_1

[temperature_fan MTLF_fan]
pin: MTLF_1:FAN
shutdown_speed: 0.0
max_power: 1.0                
kick_start_time: 0.5
sensor_type: temperature_mcu
sensor_mcu: MTLF_1
min_temp: 0
max_temp: 100
target_temp: 40               # The temp the fan will try to maintain
control: pid
pid_Kp: 2.0                   # Proportional gain
pid_Ki: 5.0                   # Integral gain
pid_Kd: 0.5                   # Derivative gain
pid_deriv_time: 2.0
min_speed: 0.0          # Allows the fan to go all the way to 0%
off_below: 0.10         # Tells Klipper to just cut power if the speed drops below 10%

[AFC_led AFC_Indicator]
pin: MTLF_1:RGB1
chain_count: 4
color_order: GRB

#[neopixel Extra2]
#pin: MTLF_1:RGB2
#chain_count: 6
#color_order: GRB

#[neopixel Extra3]
#pin: MTLF_1:RGB3
#chain_count: 6
#color_order: GRB

#[neopixel Extra4]
#pin: MTLF_1:RGB4
#chain_count: 4
#color_order: GRB
