[include mcu/Fysetc_ERB-2_Claymore.cfg]

[mcu Claymore]
# canbus_uuid: <insert can id here>
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6612C771F8D6C2B-if00

[temperature_sensor Claymore]
sensor_type: temperature_mcu
sensor_mcu: Claymore

[AFC_Claymore Claymore_1]
hub: Claymore
extruder: extruder
buffer: Claymore_buffer
drive_stepper: Claymore_drive
selector_stepper: Claymore_selector
long_moves_speed: 200
long_moves_accel: 300
enable_buffer_tool_check: True

[AFC_stepper Claymore_drive]
unit: Claymore_1
step_pin: Claymore:M1_STEP
dir_pin: !Claymore:M1_DIR
enable_pin: !Claymore:M1_EN
microsteps: 16
gear_ratio: 40:20               # 20T
rotation_distance: 34.5 # 20T, Calibrate for your setup

[tmc2209 AFC_stepper Claymore_drive]
uart_pin: Claymore:M1_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_stepper Claymore_selector]
unit: Claymore_1
step_pin: Claymore:M2_STEP
dir_pin: !Claymore:M2_DIR        # Selector should rotate in counter clockwise direction
enable_pin: !Claymore:M2_EN
microsteps: 16
gear_ratio: 40:20               # 20T
rotation_distance: 35.5          # 20T, Calibrate for your setup

[tmc2209 AFC_stepper Claymore_selector]
uart_pin: Claymore:M2_UART
uart_address: 0
run_current: 0.8
sense_resistor: 0.110

[AFC_lane lane5]
unit: Claymore_1:1
dist_hub: 120.43 
led_index: Claymore_Indicator_1:1
# afc_motor_rwd: Claymore:MOT1_RWD
# afc_motor_fwd: Claymore:MOT1_FWD
# afc_motor_enb: Claymore:MOT1_EN
# fwd_speed_multiplier: 0.3
# pwm: True
load: ^Claymore:LOAD5
selector: !Claymore:SEL5


[AFC_lane lane6]
unit: Claymore_1:2
dist_hub: 53.66 
led_index: Claymore_Indicator_1:2
# afc_motor_rwd: Claymore:MOT2_RWD
# afc_motor_fwd: Claymore:MOT2_FWD
# afc_motor_enb: Claymore:MOT2_EN
# fwd_speed_multiplier: 0.3
# pwm: True
load: ^Claymore:LOAD6
selector: !Claymore:SEL6

[AFC_lane lane7]
unit: Claymore_1:3
dist_hub: 52.75 
led_index: Claymore_Indicator_1:3
# afc_motor_rwd: Claymore:MOT3_RWD
# afc_motor_fwd: Claymore:MOT3_FWD
# afc_motor_enb: Claymore:MOT3_EN
# fwd_speed_multiplier: 0.3
# pwm: True
load: ^Claymore:LOAD7
selector: !Claymore:SEL7

[AFC_lane lane8]
unit: Claymore_1:4
dist_hub: 110.14 
led_index: Claymore_Indicator_1:4
# afc_motor_rwd: Claymore:MOT4_RWD
# afc_motor_fwd: Claymore:MOT4_FWD
# afc_motor_enb: Claymore:MOT4_EN
# fwd_speed_multiplier: 0.3
# pwm: True
load: ^Claymore:LOAD8
selector: !Claymore:SEL8

[AFC_hub Claymore]
afc_bowden_length: 1157.91 
cut: False
switch_pin: ^Claymore:HUB

[AFC_buffer Claymore_buffer]
advance_pin: ^Claymore:ADV
trailing_pin: ^Claymore:TRL
multiplier_high: 1.15
multiplier_low: 0.90
filament_error_sensitivity: 2  # 0-10 scale, 0 disables

[AFC_led Claymore_Indicator_1]
pin: Claymore:RGB1
chain_count: 4
color_order: GRB
initial_RED: 0.0
initial_GREEN: 0.0
initial_BLUE: 0.0

[controller_fan claymore_fan]
pin: Claymore:FAP
kick_start_time: 0.5
heater: heater_bed
fan_speed: .75
max_power: 1