[board_pins Fysetc_ERB-2_claymore]
mcu: Claymore
aliases:
    M1_STEP=gpio10  , M1_DIR=gpio9   , M1_EN=gpio8   , M1_UART=gpio11   , # M1_DIAG=gpio13  ,
    M2_STEP=gpio16  , M2_DIR=gpio15  , M2_EN=gpio14  , M2_UART=gpio17   , # M2_DIAG=gpio19  ,

	LOAD5=gpio12  , LOAD6=gpio18  , LOAD7=gpio2  , LOAD8=gpio3  ,
	SEL5=gpio26   , SEL6=gpio27   , SEL7=gpio28  , SEL8=gpio29  ,

	HUB=gpio4  , TRL=gpio5  , ADV=gpio6  ,
	
	# MOT1_RWD=PA0	, MOT1_FWD=PA1	, MOT1_EN=PA2	,
	# MOT2_RWD=PA6	, MOT2_FWD=PA7	, MOT2_EN=PA5	,
	# MOT3_RWD=PB14	, MOT3_FWD=PB15	, MOT3_EN=PB13	,
	# MOT4_RWD=PD12	, MOT4_FWD=PD13	, MOT4_EN=PD11	,
	
	RGB1=gpio21	 , FAP=gpio23